.footer {
    width: 1920px;
    height: 88px;
    border-top: 1px solid #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}



