.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 10;


}

.header__container {
    width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 380px;
}

.logo__icon {
    width: 120px;
    height: 24px;
    object-fit: contain;
}

.logo__text {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}


