.nav {
    background-color: #4c90f9; /* Синий фон */
    background-color: rgba(0, 0, 0, 0);
    padding-right: 340px;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Распределение элементов */
    align-items: center;
    width: 100%;

}

.nav__item {
    margin: 0 15px; /* Отступы между элементами */
}

.nav__link {
    text-decoration: none;
    color: #ffffff; /* Цвет текста */
}
.nav__link:hover {
    text-decoration: underline; /* Подчёркивание при наведении */
}

.nav__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.nav__link--active {

    color: #ffffff; /* Активная ссылка будет белой */
    text-decoration: underline; /* Подчёркивание активной ссылки */
}
