.slider-container {
    width: 1920px;
    height: 560px;
    background: rgba(246, 248, 250, 1);
    margin: 80px auto;
}

.slider-container h1 {
    font-size: 40px;
    margin: 20px auto 40px auto;
    font-weight: bold;
}

.slider {
    width: 1140px;
    height: 462px;
    padding: 40px 20px;
    background: rgba(246, 248, 250, 1);
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: none;
}

.slider__arrow-left,
.slider__arrow-right {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    opacity: 1;
    pointer-events: auto;
}

.slider__arrow-left {
    top: 65%;
    left: -12px;
}

.slider__arrow-right {
    top: 65%;
    right: -12px;
}

.slider__item-group {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 60px; /* Дополнительное пространство под карточками */
    will-change: transform;
    transition: transform 0.3s ease-in-out;
}

.slider__item {
    display: flex;
    justify-content: center;
    margin: 0 15px;
}

.slider__card {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 -4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 341px;
    height: 290px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.slider__card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.slider__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.slider__avatar {
    margin-right: 15px;
}

.slider__avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.slider__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider__name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
}

.slider__location {
    font-size: 14px;
    color: #777;
}

.slider__review {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.slider__dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.slider__dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #d3d3d3;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider__dot.active {
    background-color: #007bff;
}

