.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero-section {
  position: relative;
  width: 100%;
  height: 960px; /* Высота соответствует изображению */
  overflow: hidden;
}

.hero-section__image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обеспечивает покрытие всей области */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Размещает изображение на заднем плане */
}
/* Основные стили для App */
.app {
  position: relative;
}

/* Стили для секции с изображением */
.hero-section {
  position: relative; /* Относительное позиционирование для контейнера */
}

.hero-section__image {
  width: 100%;
  height: auto;
  display: block;
}

/* Кастомные стили для кнопки */
.btn-custom {
  background-color: #f0f4f7; /* Серый фон */
  color: #212529; /* Черный текст */
  border: none;
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-weight: bold; /* Жирный текст */
  border-radius: 6px; /* Закругленные углы */
  position: absolute; /* Абсолютное позиционирование */
  top: 615px; /* Позиция по вертикали */
  left: 50%; /* Позиция по горизонтали */
  transform: translate(-50%, -50%); /* Центрирование кнопки */
  width: 259px;
  height: 65px;
  border-radius: 3px;
  font-size: 18px;
}

/* Кнопка меняет цвет при наведении */
.btn-custom:hover {
  background-color: #e0e6ea; /* Темнее при наведении */
}
.btn-custom:active {
  background-color: #d6d8db; /* Еще темнее при нажатии */
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); /* Внутренняя тень для эффекта нажатия */
}
